<!DOCTYPE html>
<html>
<head>
<title>Data bind</title>
<script src="https://unpkg.com/vue"></script>
<script type="text/javascript" src="src/app.js"></script>

</head>
<body>
<div id="app">
    <div v-if="isLoading"> is Loading.</div>
 <h1 v-if="logged"> {{message}} {{username}} </h1>
 <h1  v-if="!logged"> Giriş Yapmamışsın. </h1>
 <hr>



    <ul type="square">
        <li v-for="items in comments" >{{items.id}} - <b style="color:red;">{{items.title}} </b> - {{items.body}} </li>
    </ul>

</div>

</body>
</html>


